<template>
    <div class="container">
        <div class="row justify-content-center">
            <h3>Dashboard</h3>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.$Progress.start();
            this.$Progress.increase(10)
            console.log('Component mounted.')
        }
    }
</script>
