<style>
    .widget-user-header {
        background-position: center center;
        background-size: cover;
        height: 250px;
    }
</style>


<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-2">
                <!-- Widget: user widget style 1 -->
                <div class="card card-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header text-blue" 
                    style="background-image:url('./img/profile_img.jpg')">
                        <h3 class="widget-user-username">{{ this.form.name }}</h3>
                        <h5 class="widget-user-desc">{{ this.form.type }}</h5>
                    </div>
                    
                    <div class="widget-user-image">
                        <img class="img-circle" :src="getPhotoProfile()" alt="User Avatar">
                    </div>
                    
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">3,200</h5>
                                    <span class="description-text">SALES</span>
                                </div>
                            </div>
                            
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">13,000</h5>
                                    <span class="description-text">FOLLOWERS</span>
                                </div>
                            </div>
                           
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header">35</h5>
                                    <span class="description-text">PRODUCTS</span>
                                </div>
                            </div>
                           
                        </div>
                    <!-- /.row -->
                    </div>
                </div>
                <!-- /.widget-user -->
            </div>

            <div class="col-md-12 mt-2">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link " href="#activity" data-toggle="tab">Activity</a></li>
                            <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                            <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Settings</a></li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="activity">
                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="" alt="user image">
                                        <span class="username">
                                            <a href="#">Jonathan Burke Jr.</a>
                                            <a href="#" class="float-right btn-tool"><i class="fa fa-times"></i></a>
                                        </span>
                                        <span class="description">Shared publicly - 7:30 PM today</span>
                                    </div>
                                    
                                    <p>
                                        Lorem ipsum represents a long-held tradition for designers,
                                        typographers and the like. Some people hate it and argue for
                                        its demise, but others ignore the hate as they create awesome
                                        tools to help create filler text for everyone from bacon lovers
                                        to Charlie Sheen fans.
                                    </p>

                                    <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
                                </div>
                    
                                <div class="post clearfix">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="" alt="User Image">
                                        <span class="username">
                                            <a href="#">Sarah Ross</a>
                                            <a href="#" class="float-right btn-tool"><i class="fa fa-times"></i></a>
                                        </span>
                                        <span class="description">Sent you a message - 3 days ago</span>
                                    </div>
                                    <p>
                                        Lorem ipsum represents a long-held tradition for designers,
                                        typographers and the like. Some people hate it and argue for
                                        its demise, but others ignore the hate as they create awesome
                                        tools to help create filler text for everyone from bacon lovers
                                        to Charlie Sheen fans.
                                    </p>

                                    <form class="form-horizontal">
                                        <div class="input-group input-group-sm mb-0">
                                            <input class="form-control form-control-sm" placeholder="Response">
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-danger">Send</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="post">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm" src="" alt="User Image">
                                        <span class="username">
                                            <a href="#">Adam Jones</a>
                                            <a href="#" class="float-right btn-tool"><i class="fa fa-times"></i></a>
                                        </span>
                                        <span class="description">Posted 5 photos - 5 days ago</span>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-sm-6">
                                            <img class="img-fluid" src="" alt="Photo">
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <img class="img-fluid mb-3" src="" alt="Photo">
                                                    <img class="img-fluid" src="" alt="Photo">
                                                </div>
                                                <!-- /.col -->
                                                <div class="col-sm-6">
                                                    <img class="img-fluid mb-3" src="" alt="Photo">
                                                    <img class="img-fluid" src="" alt="Photo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                      
                                    <p>
                                        <a href="#" class="link-black text-sm mr-2"><i class="fa fa-share mr-1"></i> Share</a>
                                        <a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up mr-1"></i> Like</a>
                                        <span class="float-right">
                                            <a href="#" class="link-black text-sm">
                                                <i class="fa fa-comments-o mr-1"></i> Comments (5)
                                            </a>
                                        </span>
                                    </p>

                                    <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
                                </div>
                            </div>
                  
                            <div class="tab-pane" id="timeline">
                                <ul class="timeline timeline-inverse">
                                    <li class="time-label">
                                        <span class="bg-danger">
                                        10 Feb. 2014
                                        </span>
                                    </li>
                                    
                                    <li>
                                        <i class="fa fa-envelope bg-primary"></i>

                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                                            <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>

                                            <div class="timeline-body">
                                                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                                weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                                jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                                quora plaxo ideeli hulu weebly balihoo...
                                            </div>
                                            <div class="timeline-footer">
                                                <a href="#" class="btn btn-primary btn-sm">Read more</a>
                                                <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fa fa-user bg-info"></i>

                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                                            <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request
                                            </h3>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fa fa-comments bg-warning"></i>

                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                                            <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
                                            <div class="timeline-body">
                                                Take me to your leader!
                                                Switzerland is small and neutral!
                                                We are more like Germany, ambitious and misunderstood!
                                            </div>
                                            <div class="timeline-footer">
                                                <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                                            </div>
                                        </div>
                                    </li>
                      
                                    <li class="time-label">
                                        <span class="bg-success">
                                        3 Jan. 2014
                                        </span>
                                    </li>
                     
                                    <li>
                                        <i class="fa fa-camera bg-purple"></i>

                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                                            <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
                                            <div class="timeline-body">
                                                <img src="http://placehold.it/150x100" alt="..." class="margin">
                                                <img src="http://placehold.it/150x100" alt="..." class="margin">
                                                <img src="http://placehold.it/150x100" alt="..." class="margin">
                                                <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <i class="fa fa-clock-o bg-gray"></i>
                                    </li>
                                </ul>
                            </div>
                  
                            <div class="active tab-pane" id="settings">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="name" class="col-sm-2 control-label">Full Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" v-model="form.name" id="name" class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" />
                                            <has-error :form="form" field="name"></has-error>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" v-model="form.email" id="email" :class="{ 'is-invalid': form.errors.has('email') }" class="form-control" />
                                            <has-error :form="form" field="email"></has-error>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="bio" class="col-sm-2 control-label">Biograph</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" v-model="form.bio" id="bio" placeholder="Experience"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="photo" class="col-sm-2 control-label">Profil Photo</label>
                                        <div class="col-sm-10">
                                            <input type="file" id="photo" class="form-control" @change="updatePhotoProfile">    
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="password" class="col-sm-2 control-label">Password</label>
                                        <div class="col-sm-10">
                                            <input type="password" v-model="form.password" id="password" class="form-control" :class="{ 'is-invalid': form.errors.has('password') }" />
                                            <has-error :form="form" field="password"></has-error>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" class="btn btn-success" @click.prevent="updateUserInfo">
                                                Update
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {

    /** DATA */
    data() {
        return {
            form: new Form({
                id: '',
                name : '',
                email: '',
                password: '',
                type: '-',
                bio: '',
                photo: ''
            }),
            tmp_img: ''
        }
    },


    /** MOUNTED */
    mounted() {
        console.log("Component mounted.");
    },



    /** METHODS */
    methods: {
        /** To get photo user profile */
        getPhotoProfile() {
            let photo = (this.form.photo.length > 200) ? this.form.photo : "img/profile/" + this.form.photo;
            return photo
            //return "img/profile/" + this.form.photo;
            //return "img/profile/" + this.tmp_img;
        },

        /**  To update photo profile*/
        updatePhotoProfile(e) {
            let filePhoto = e.target.files[0];
            let fileReader = new FileReader();
            console.log(filePhoto);

            //1,7MB=1657762, 2MB=2111775
            if(filePhoto['size'] < 1657762)
            {
                fileReader.onloadend = (f) => {
                    //console.log('Result', fReader.result);
                    //console.log(fReader);
                    this.form.photo = fileReader.result;
                }

                fileReader.readAsDataURL(filePhoto);
            }
            else {
                Swal.fire({
                    type: 'Error!', 
                    title: 'Oops...', 
                    text: 'You are uploading a large file'
                });
            }

            

            //console.log(e.target.files[0]);
        },

        /** To Update Photo Profile, Event Click Button Update */
        updateUserInfo() {
            this.$Progress.start();
            this.form.put("api/profile").then((responses) => {
                this.$Progress.finish();
                Swal.fire({
                    title: 'Update Success',
                    text: responses.data.message,
                    type: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    //location.reload();
                    VueEmit.$emit('reloadProfile');
                })

            }).catch(() => {
                this.$Progress.fail();
            });
        },

        /** get data profile and set default form  */
        getProfile() {
            axios.get("api/profile").then(({ data }) => { 
                this.form.fill(data)
                this.tmp_img = data.photo;
            });
        },

    },


    /** CREATED */
    created() {
        this.getProfile();

        VueEmit.$on('reloadProfile', () => {
            this.getProfile();
        });

    }
};
</script>
