<template>
    <div class="container">
        <div class="row mt-3" v-if="$appGate.isAdminOrAuthor()">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Users Data Table</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-success btn-sm" @click="modalAddUser()"> 
                                <i class="fas fa-user-plus"></i> Add New
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>NAME</th>
                                    <th>EMAIL</th>
                                    <th>USER TYPE</th>
                                    <th>REGISTERD AT</th>
                                    <th class="text-center">#</th>
                                </tr>
                                <tr v-for="item in users.data" :key="item.id" >
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>
                                        <span class="tag tag-success">{{ item.type | upText }}</span>
                                    </td>
                                     <td>
                                        {{ item.created_at | myDate }}
                                    </td>
                                    <td>
                                        <a href="#" @click="modalUpdateUser(item)" class="purple">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        &nbsp;/&nbsp;
                                        <a href="#" class="red" @click="deleteUser(item.id)">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>    
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <pagination :data="users" @pagination-change-page="getResults">
                            <span slot="prev-nav">&lt; Previous</span>
	                        <span slot="next-nav">Next &gt;</span>
                        </pagination>
                    </div>
                </div>
            <!-- /.card -->
            </div>
        </div>
        
        <div v-if="!$appGate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="userFormModal" tabindex="-1" role="dialog" aria-labelledby="userFormModalLebel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-show="!modeEdit">Add New User</h5>
                        <h5 class="modal-title" v-show="modeEdit">Update User's Info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="modeEdit ? updateUser() : createUser()" @keydown="form.onKeydown($event)">
                        <div class="modal-body">
                                                
                            <div class="form-group">
                                <input v-model="form.name" type="text" name="name" class="form-control"
                                    placeholder="Name : Sir. Ruben Alpredo"
                                    :class="{ 'is-invalid': form.errors.has('name') }" />
                                <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <input v-model="form.email" type="email" name="email"
                                    placeholder="Email : test@testing.com" 
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('email') }" />
                                <has-error :form="form" field="email"></has-error>
                            </div>

                            <div class="form-group">
                                <textarea v-model="form.bio" id="bio" name="bio" class="form-control"
                                placeholder="Enter Bio" :class="{'is-invalid': form.errors.has('bio') }"></textarea>
                                <has-error :form="form" field="bio"></has-error>
                            </div>

                            <div class="form-group">
                                <select name="type" v-model="form.type" id="type" class="form-control"
                                :class="{'is-invalid': form.errors.has('type') }">
                                    <option v-for="(item, key) in optionRoles" 
                                        v-bind:value="key" v-bind:key="key">{{ item }}</option>
                                </select>
                                <has-error :form="form" field="type"></has-error>
                            </div>

                             <div class="form-group">
                                <input v-model="form.password" type="password" name="password"
                                    placeholder="Enter password" 
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('password') }" />
                                <has-error :form="form" field="password"></has-error>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button v-show="modeEdit" type="submit" class="btn btn-success">Update</button>
                            <button v-show="!modeEdit" type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    data() {
        return {
            modeEdit: false,
            optionRoles: {
                "-": "Select User Role",
                "owner": "Owner",
                "admin": "Admin",
                "user": "Standart User",
                "author": "Author"
            },
            users: {},
            form: new Form({
                id: '',
                name : '',
                email: '',
                password: '',
                type: '-',
                bio: '',
                photo: 'user.png'
            })
        }
    },

    methods: {

        /** Get Result and Show to datatable */
        getResults(page) {
            if (typeof page === 'undefined') {
                page = 1;
            }
			axios.get('api/user?page=' + page).then(response => {
                console.log(response);
                this.users = response.data;
            });
		},

        /** Show New Modal To Edit and Update User Event Click */
        modalUpdateUser(user) {
            this.modeEdit = true;
            this.form.reset();
            $("#userFormModal").modal('show');
            this.form.fill(user);

            console.log(this.form);
        },

        /** Show New Modal To Add New User Event Click*/
        modalAddUser() {
            this.modeEdit = false;
            this.form.reset();
            $("#userFormModal").modal('show');
        },

        /** Load All Data User */
        loadDataUsers() {
            if(this.$appGate.isAdminOrAuthor()) {
                axios.get('api/user').then(({ data }) => {
                    console.log(data);
                    this.users = data
                });
            }
           
        },

        /** Create User */
        createUser() {
            this.$Progress.start();

            this.form.post("api/user").then(() => {
                VueEmit.$emit('recallReloadData'); // Create Custom Event 

                $('#userFormModal').modal('hide');
                
                Toast.fire({
                    type: 'success',
                    title: 'User created in successfully'
                })
                
                this.$Progress.finish();

            }).catch(() => {

            });
        },

        /** Delete User */
        deleteUser(id) {
            Swal.fire({
                title: 'Delete Data User',
                text: "Are you won't to delete this data user!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                console.log(result);
                if(result.value) {
                    this.form.delete("api/user/" + id).then((response) => {
                        Swal.fire('Deleted!', response.data.message, 'success');
                        VueEmit.$emit('recallReloadData');
                    }).catch((error) => {
                        console.log(error)
                        Swal.fire('Failed!', 'Delete Failed', 'warning');
                    });
                }
            });
        },

        /** Update Data User */
        updateUser() {
            this.$Progress.start();

            this.form.put("api/user/" + this.form.id)
            .then((response) => {
                $("#userFormModal").modal('hide');
                Swal.fire('Information Update', response.data.message, 'success');
                this.$Progress.finish();
                VueEmit.$emit('recallReloadData');
            })
            .catch((error) => {
                Swal.fire('Information Update', error.data.message, 'warning');
                this.$Progress.fail();
            });
        }
    },

    created() {
        this.loadDataUsers();

        VueEmit.$on('recallReloadData', () => {
            this.loadDataUsers();
        });

        //setInterval(() => this.loadDataUsers() , 3000);
    },

    mounted() {
        this.loadDataUsers();
        //this.getResults();
        console.log("Component mounted.");
    }
};
</script>
